$primary-color:#004dff;
$secondary-color:#1dc679;
$color-white:#ffffff;
$color-white10:#f0f0f1;
$color-white20:rgba(0, 0, 0, 0.1);
$color-black:#000;
$color-orange:#ff9f00;
$color-grey10:#f6f7f9;
$color-grey20:rgba(69, 69, 69, 0.7);
$color-grey50:#454545;
$color-grey60:#151824;
$color-grey70:rgba(21, 24, 36, 0.6);